body {
    font: 10pt Tahoma;
}

table.form_wrapper {
    font: 10pt Tahoma;
    background-color: #ddeeff;
}

table.form_wrapper thead {
    background-color: #334466;
    color: white;
    font-weight: bold;
}
