* {
  margin: 0;
  padding: 0;
}

body{
    display: flex;
    justify-content: center;
}

#schedule_block {

  background-color: red;
  width: 768px;
  height: 512px;
  scale: 1.5;
  font-size: 20;
}